body {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e6e8e6;
}

.App {
	font-family: 'Josefin Sans', sans-serif;
}

#splash {
	
}

#collectionHeader {
	background-color: #56595b;
}

#collectionLarge {
	background-color: #e0e1e2;
}

.ui.button.primary {
	background-color: #3abcb1;
}

.ui.button.primary:hover,
.ui.button.primary:link,
.ui.button.primary:active,
.ui.button.primary:focus {
	background-color: #2d938b;
}

.ui.secondary.pointing.menu {
	background-color: #272727;
}

.ui.vertical.stripe.segment {
	background-color: #e6e8e6;
}
