body {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e6e8e6;
}

.App {
	font-family: 'Josefin Sans', sans-serif;
}

#splash {
	background-image: url('https://images.unsplash.com/photo-1516946870798-f970a32afc8c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1800&h=500&q=80');
}

#collectionHeader {
	background-color: #56595b;
}

.ui.button.primary {
	background-color: #3abcb1;
}

.ui.button.primary:hover {
	background-color: #2d938b;
}

.ui.secondary.pointing.menu {
	background-color: #272727;
}

.ui.column.grid {
	background-color: #e0e1e2;
}

.ui.vertical.stripe.segment {
	background-color: #e6e8e6;
}
